---
---
@import "uno";
@import "tables";
@import "monokai";
@import "timeline";

/* Modifications */

pre.highlight,
.highlight pre {
  padding: 10px;
}

pre.highlight code,
.highlight pre code {
  white-space: pre-wrap;
}

.btn,
.navigation__item a {
  margin: 5px 0;
  white-space: nowrap;
}

.pagination__page-number {
  display: inline-block;
  padding: 10px;
}

.categories a,
.tags a {
  border: 1px solid #e25440;
  border-radius: 20px;
  color: #e25440;
  display: inline-block;
  font-size: 12px;
  margin: 5px 0;
  padding: 5px 10px;
  text-shadow: none;
  white-space: nowrap;
}

.post-meta__tags {
  font-size: 12px;
  padding: 0 5px;
}

.footer__copyright {
    margin: 0 20px 10px;
}

.user-image {
  margin-bottom: 1.2em;
  position: relative;
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  border-radius:100%;
}
/* 导航项容器样式 */
.nav-row {
  display: flex; /* 使用Flexbox布局 */
  flex-wrap: wrap; /* 允许内容换行 */
  justify-content: center; /* 居中对齐 */
}

/* 单个导航项样式 */
.navigation__item {
  margin: 5px; /* 添加一些外边距，以便区分各个导航项 */
}

/* 当屏幕宽度小于600px时，导航项堆叠显示 */
@media (max-width: 600px) {
  .navigation__item {
    width: 100%; /* 每个导航项占满整行 */
    text-align: center; /* 文本居中 */
  }
}