<ul class="timeline">
    {% for book in site.data.books %}
      <li class="timeline-inverted">
        <div class="timeline-image">
          <img class="img-me" src="{{ book.img | prepend: site.baseurl }}" alt="">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4><a href="https://github.com/{{ book.gh_user }}/{{ book.repo }}" target="_blank">{{ book.name }}</a></h4>
          </div>
          <div class="timeline-body">
            {% if book.desc %}
              {{ book.desc | markdownify }}
            {% else %}
              <div repotext="{{ book.repo }}">
                <span class="desc"></span>
              </div>
            {% endif %}
            {% if book.download %}
              <div class="btn" style="text-align: center;">
                <a href="{{ site.baseurl }}/{{ book.download }}" target="_blank">原文阅读</a>
              </div>
              <div class="btn" style="text-align: center;">
                <a href="{{ site.baseurl }}/{{ book.download }}" download>文件下载</a>
              </div>
            {% endif %}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>